@model Group

<div class="text-center">
    <form asp-controller="Group" asp-action="Update" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Name" />
            <input class="form-control" asp-for="@Model.Name" placeholder="@Model.Name">
            <small class="form-text text-muted">Name</small>
        </div>

        <div class="form-group">
            <label asp-for="@Model.MOTD" />
            <input class="form-control" asp-for="@Model.MOTD" placeholder="@Model.MOTD">
            <small class="form-text text-muted">Description</small>
        </div>
        <input type="hidden" asp-for="@Model.ImageURL" />

            <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>